@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@300;400&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.pre-nav{
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E5E5E5;
    padding-right: 20px;
}

.pre-nav a{
    font-size: 13px;
}

.pre-nav a{
    text-decoration: none;
    color:black;
    margin-left: 25px;
}

.mid-nav{
    display: flex;
    align-items: center;
    justify-content: end;
}
.mid-nav-end{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo{
    margin:auto;
    margin-right: 300px;
}

.logo img{
    height: 30px;
    margin-top: 20px;
    width: 140px;
}

.mid-nav a{
    text-decoration: none;
    margin-right: 25px;
    text-align: center;
    color: black;
    margin-top: 20px;
    font-size: 15px;
}

.mid-nav a:hover{
    color: rgb(83, 82, 82);
}

.mid-nav i{
    font-size: 25px;
}

.end-nav{
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.end-nav a{
    text-decoration: none;
    color: black;
    margin: 15px;
}
.end-nav i{
    margin-left: 10px;
}
.end-nav input{
    border: none;
    border-bottom: 1px solid black;
}

.end-nav a:hover{
    color: rgb(253, 11, 11);
}

.container{
    height: 80vh;
    background-image: url(./images/1.webp);
    background-size: cover;
    background-position: center;
}

.box-one{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.box-one img{
    height: 390px
}

.text-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;  
    margin-bottom: 50px;

}

.text-box-image img{
    height: 350px;
}

.text-box-text{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.text-box-text h1{
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 20px;
}
.text-box-text p{
   margin-bottom: 20px;
}

.text-box-text button{
    height: 40px;
    width: 280px;
    background: none;
    border: 1px solid black;
}

.text-box-text button:hover{
    background-color: black;
    color: white;
}

.box-two{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.box-two img{
    height: 390px;
}

.double{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:15px ;
}
.double img{
    height: 407px;
}

.text-box-two{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;  
    margin-bottom: 50px;
    margin-top: 50px;
}

.text-box-two-img img{
    height: 380px;
}

.text-box-two-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text-box-two-text h1{
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 20px;
}
.text-box-two-text p{
   margin-bottom: 20px;
}

.text-box-two-text button{
    height: 40px;
    width: 240px;
    background: none;
    border: 1px solid black;
}
.text-box-two-text button:hover{
    background-color: black;
    color: white;
}


.box-three{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.box-three img{
    height: 390px;
}

.text-box-three{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 15px;
}
.text-box-three-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-box-three-img img{
    height: 380px;
}

.text-box-three-text h1{
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 20px;
}

.text-box-three-text p{
   margin-bottom: 20px;
}

.text-box-three-text button{
    height: 40px;
    width: 240px;
    background: none;
    border: 1px solid black;
}

.text-box-three-text button:hover{
    background-color: black;
    color: white;
}


.gst-line{
    height: 45px;
    background-color: #808080;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.gst-line a{
    text-decoration: none;
    color: #E5E5E5;
    font-size: 18px;
}
.gst-line h1{
    color: #E5E5E5;
    font-size: 18px;
    font-weight: 400;
}

.footer{
    height: 80vh;
    padding: 15px;
    background-color: #E5E5E5;
    margin-top: 150px;
}

.links{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 50px;
}

.links li{
    list-style: none;
    margin-bottom: 7px;
}

.links a{
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.links a i{
    font-size: 25px;
}
.links p{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

.payment{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}
.payment-end a{
    color: black;
    text-decoration: none;
}

.payment-end i{
    font-size: 25px;
    margin-right: 15px;
}

.last{
    text-align:center ;
    margin-top: 30px;
}

.last h1{
    font-size: 15px;
    font-weight: 400;
}


@media screen and (max-width: 960px){

    .pre-nav{
        display: none;
    }
    .mid-nav{
        height: 50px;
        display: flex;
        align-items: center;
        justify-items: center;
        
    }
    .logo{
        margin: auto;
    }
    .mid-nav-end{
        display: none;
    }

    .end-nav{
        display: none;
    }
    .container{
        height: 200px;
        margin-top: 50px;
        
    }

    .box-one{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .box-one img{
        height: 450px;
        margin-top: 20px;
    }

    .text-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .text-box-text{
        text-align: center;
    }

    .text-box-text button{
        margin: auto;
    }

    .text-box-image img{
        height: 210px;
    }

    .box-two{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .box-two img{
        height: 450px;
        margin-top: 20px;
    }

    .double{
        flex-wrap: wrap;
    }

    .double img{
        height: 300px;
        margin-top: 20px;
    }

    .text-box-two{
        display: block;
        flex-direction: column;
    }
    .text-box-two-text{
        text-align: center;
    }
    .text-box-two-text button{
        margin: auto;
    }

    .text-box-two-img img{
        height: 200px;
        
    }

    .box-three{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .box-three img{
        height: 450px;
        margin-top: 20px;
    }

    .text-box-three{
        display: flex;
        flex-direction: column-reverse;
    }
    .text-box-three-text{
        text-align: center;
    }
    .text-box-three-text button{
        margin: auto;
    }

    .text-box-three-img img{
        height: 200px;

    }

    .links{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .link-one li{
        display: none;
    }

    .link-two li{
        display: none;
    }

    .link-three li{
        display: none;    
    }

    .link-four p{
        text-align: center;

    }

    .link-four span{
        display: flex;
    }

    .link-four span li{
        margin: 10px;
    }

    .last{ 
        margin-top: 50px;
    }





}